%table
    %tr
        %th Name
        %th Role
        %th ilvl
        -Item.slots.each do |slot|
            %th= slot.to_s.capitalize
        %th
    -@members.each do |member|
        -items = member.items.map{ |item| [item.slot, item] }.to_h
        %tr
            %td{class: member.class_id ? "class-color-#{member.class_id}" : ""}= member.name.capitalize
            %td= member.role
            %td= member.ilvl
            -Item.slots.each do |slot|
                -item = items[slot.to_s]
                -if item && item[:ilvl]
                    - color_for_ilvl = Item.color_for_ilvl(item[:ilvl])
                    %td{style: color_for_ilvl}
                        = item[:ilvl]
                -else
                    %td
            %td.action-list
                .refresh.inline
                    = link_to member_path(member.id), method: :put, remote: true do
                        %i.fa.fa-refresh
                .delete.inline
                    = link_to member_path(member.id), method: :delete, remote: true do
                        %i.fa.fa-trash
