%table
    %tr
        %th Name
        %th Role
        %th ilvl
        %th SimDPS
        -Item.slots.each do |slot|
            %th= slot.to_s.capitalize
        %th
    -@members.each do |member|
        -items = member.items.map{ |item| [item.slot, item] }.to_h
        %tr
            %td{class: member.class_id ? "class-color-#{member.class_id}" : ""}
                = link_to member.name.capitalize, "http://us.battle.net/wow/en/character/kelthuzad/#{member.name.capitalize}/simple", {target: "_blank" }
            %td= member.role
            %td= member.ilvl
            %td
                - if member.dps
                    - dps = member.dps/1000
                    -if dps > 50
                        = "#{dps}k"
                    -else
                        = "N/A"
                - else
                    = "N/A"
            -Item.slots.each do |slot|
                -item = items[slot.to_s]
                -if item && item[:ilvl]
                    - color_for_ilvl = Item.color_for_ilvl(item[:ilvl])
                    %td{style: color_for_ilvl}
                        .container
                            %a{rel: "item=#{item.item_id}&bonus=#{item.bonus}"}= item[:ilvl]
                            - if (slot == :neck || slot == :back || slot == :finger1 || slot == :finger2) && item[:enchant]
                                .fa.fa-check-circle
                -else
                    %td
            %td.action-list
                .refresh.inline
                    = link_to member_path(member.id), method: :put, remote: true do
                        %i.fa.fa-refresh
                .delete.inline
                    = link_to member_path(member.id), method: :delete, remote: true do
                        %i.fa.fa-trash
